

/* 表单信息栏系列样式定义 */
.prop-name {
	float: left;
	padding:5px 0 0 0;
	color: #000000;
	text-align: right;
	font-weight: bold;
}

.prop-value {
	color: #4c4ae1;
	padding-top:5px;
	margin-left:90px;
	word-break: break-all;
	word-wrap: break-word;
}
/*红色星号*/
.red-asterisk{
	color:red;
}