<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>单元派工</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/materialize/css/materialize.min.css"
          th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css"
          th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css"
          th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css"
          th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>

    <!-- commom Styles-->
    <link href="../static/custom/css/common.css"
          th:href="@{/custom/css/common.css}" rel="stylesheet"/>
    <!--Custom Styles-->
    <link href="../static/assets/plugins/ztree/zTreeStyle/zTreeStyle.css"
          th:href="@{/assets/plugins/ztree/zTreeStyle/zTreeStyle.css}" rel="stylesheet"/>
    <style>
        #view-title-span {
            color: #e16f14;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <!-- top side start-->
    <div th:include="template/top_side_template :: topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div class="header">
            <ol class="breadcrumb">
                <li><a href="#">派工管理</a></li>
                <li class="active">单元派工</li>
            </ol>
        </div>
        
        <div id="page-inner">
            <div class="panel panel-default" style="margin-top: -30px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <label for="selected-view">选择的工位:</label>
                                <span id="selected-view" style="color: #e10b0f;"></span>
                            </div>
                            <div class="zTreeDemoBackground left">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="col-md-9">

                            <!--view panel-->
                            <div id="view-panel" class="panel panel-info" style="margin-top: 10px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title" id="view-title">
                                        可派给:<span id='view-title-span'></span>的单元</h3>
                                </div>
                                <div id="table-panel-body" class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover"
                                               id="dataTables-example">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>单元名</th>
                                                <th>批次名</th>
                                                <th>号船代号</th>
                                                <th>加工工段</th>
                                                <th>加工顺序</th>
                                                <th>当前工序</th>
                                                <th>管件数量</th>
                                                <th>加工中</th>
                                                <th>加工完成</th>
                                                <th>派工</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tb-body">
                                            <tr class="even gradeA">
                                                <td>Trident</td>
                                                <td>AOL browser (AOL desktop)</td>
                                                <td>Win XP</td>
                                                <td class="center">6</td>
                                                <td class="center">A</td>
                                                <td class="center">6</td>
                                                <td class="center">A</td>
                                                <td class="center">6</td>
                                                <th>加工中管件</th>
                                                <th>加工完成管件</th>
                                                <td class="center">A</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer th:include="template/footer_template :: my_footer">
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
</div>

<!-- jQuery Js -->
<script src="../static/assets/js/jquery-1.10.2.js"
        th:src="@{/assets/js/jquery-1.10.2.js}"></script>

<!-- Bootstrap Js -->
<script src="../static/assets/js/bootstrap.min.js"
        th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/materialize/js/materialize.min.js"
        th:src="@{/assets/materialize/js/materialize.min.js}"></script>
<!-- Metis Menu Js -->
<script src="../static/assets/js/jquery.metisMenu.js"
        th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="../static/assets/js/dataTables/jquery.dataTables.js"
        th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
<script src="../static/assets/js/dataTables/dataTables.bootstrap.js"
        th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
<script>
    var $110 = $;
    $110(".dropdown-button").dropdown();
</script>
<script src="../static/assets/plugins/ztree/jquery-1.4.4.min.js"
        th:src="@{/assets/plugins/ztree/jquery-1.4.4.min.js}"></script>
<script src="../static/assets/plugins/ztree/jquery.ztree.core.min.js"
        th:src="@{/assets/plugins/ztree/jquery.ztree.core.min.js}"></script>
<script>
    var $144 = $;
</script>
<script src="../static/custom/js/common.js"
        th:src="@{/custom/js/common.js}"></script>
<!-- lhgdialog -->
<script src="../static/assets/plugins/lhgdialog/lhgdialog.min.js"
        th:src="@{/assets/plugins/lhgdialog/lhgdialog.min.js}"></script>
<!-- SpinJS-->
<script src="../static/fortable/lib/spin-2.1.0/jquery.spin.merge.js"
        th:src="@{/fortable/lib/spin-2.1.0/jquery.spin.merge.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var treeList = /*[[${treeList}]]*/ 2;
    /*]]>*/
</script>
<script src="../static/fortable/js/constant.js"
        th:src="@{/fortable/js/constant.js}"></script>
<script src="../static/custom/js/arrange_units.js"
        th:src="@{/custom/js/arrange_units.js}"></script>
</body>


</html>
