<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="../static/custom/images/favicon.ico" th:href="@{custom/images/favicon.ico}">
    <!-- end: Favicon -->

    <!-- start: CSS -->
    <!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css"
          th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/assets/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../static/assets/js/html5shiv.js"
            th:src="@{/assets/js/html5shiv.js}"></script>
    <script src="../static/assets/js/respond.min.js"
            th:src="@{/assets/js/respond.min.js}"></script>
    <link id="ie-style" href="../static/assets/css/ie.css"
          th:href="@{/assets/css/ie.css}" rel="stylesheet">
    <![endif]-->

    <!--page custom files-->
    <link  href="../static/custom/css/page-login.css"
          th:href="@{custom/css/page-login.css}" rel="stylesheet">

</head>

<body>


<div class="container">

    <div class="row" style="margin-top: 15%;">

        <div class="col-md-2">
            <div class="login-box">
                <div class="logo">
                    <img src="../static/custom/images/logo.png" th:src="@{custom/images/logo.png}">
                </div>
                <h1 style="padding-left: 30px;">管加车间管理平台</h1>
                <h3>账号登录</h3>
                <div style="padding: 10px 30px 10px;">
                    <!--使用spring security的form控件必须这么定义？input的name必须为username和password-->
                    <form action="/login" th:action="@{/login}" method="post">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input id="username" name="username" class="form-control" type="text" placeholder="账号">
                        </div>
                        <div class="input-group" style="padding-top: 10px;">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input id="password" name="password" class="form-control" type="password" placeholder="密码">
                        </div>
                        <p th:if="${param.logout}" class="error-code">已成功注销!</p>
                        <p th:if="${param.error}" class="error-code">用户名或密码错误!</p>
                        <div style="padding-top: 40px;text-align: center;">
                            <button id="login" style="width: 100px;" type="submit" class="btn btn-info">登录</button>
                        </div>
                    </form>

                </div>
            </div><!--/span-->
        </div>

    </div>
</div>

<div id="clock" style="">

</div>

<!-- start: JavaScript-->
<!-- jQuery Js -->
<script src="../static/assets/js/jquery-1.10.2.js"
        th:src="@{assets/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script src="../static/assets/js/bootstrap.min.js"
        th:src="@{assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/plugins/lhgdialog/lhgdialog.min.js"
        th:src="@{assets/plugins/lhgdialog/lhgdialog.min.js}"></script>

<!--page custom files-->
<script src="../static/custom/js/page-login.js"
        th:src="@{custom/js/page-login.js}"></script>
<!-- end: JavaScript-->

</body>
</html>
