<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>部门管理</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/materialize/css/materialize.min.css"
          th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css"
          th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css"
          th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css"
          th:href="@{/assets/css/custom-styles.css}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
          th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>

    <!-- commom Styles-->
    <link href="../static/custom/css/common.css"
          th:href="@{/custom/css/common.css}" rel="stylesheet"/>
    <!--Custom Styles-->
    <link href="../static/assets/plugins/ztree/zTreeStyle/zTreeStyle.css"
          th:href="@{/assets/plugins/ztree/zTreeStyle/zTreeStyle.css}" rel="stylesheet"/>

</head>
<body>
<div id="wrapper">
    <!-- top side start-->
    <div th:include="template/top_side_template :: topside"></div>
    <!-- top side end-->
    <!-- left side start-->
    <nav class="navbar-default navbar-side" role="navigation"
         th:include="template/left_side_template :: leftside"></nav>
    <!-- left side end-->
    <div id="page-wrapper">
        <div class="header">
            <ol class="breadcrumb">
                <li><a href="#">系统管理</a></li>
                <li class="active">部门管理</li>
            </ol>
        </div>

        <div id="page-inner">
            <div class="panel panel-default" style="margin-top: -30px;">
                <div class="panel-body" style="min-height: 500px;">
                    <div class="row">
                        <div class="col-md-3">
                            <div>部门列表:
                            </div>
                            <div class="zTreeDemoBackground left">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-success" id="btn-add">
                                <i class="fa fa-plus-circle"></i> 添加部门
                            </button>
                            <button type="button" class="btn btn-warning" id="btn-edit">
                                <i class="fa fa-trash-o"></i> 修改
                            </button>
                            <button type="button" class="btn btn-danger" id="btn-del">
                                <i class="fa fa-trash-o"></i> 删除
                            </button>
                            <button type="button" class="btn btn-primary" id="btn-refresh">
                                <i class="fa fa-refresh"></i> 刷新
                            </button>
                            <!--view panel-->
                            <div id="view-panel" class="panel panel-info" style="margin-top: 10px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title" id="view-title">该部门信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="view-name">名称：</label>
                                            <span id="view-name">一部大管工段</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="view-level">级别：</label>
                                            <span id="view-level">工段</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="view-upDepartment">上级：</label>
                                            <span id="view-upDepartment">一部大管工段</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="view-description">描述：</label>
                                            <span id="view-description">一部大管工段</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="view-updateTime">录入时间：</label>
                                            <span id="view-updateTime">工段</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="view-worker">当前绑定工人：</label>
                                            <span id="view-worker">一部大管工段</span>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="view-scanner">当前绑定扫码枪：</label>
                                            <span id="view-scanner">一部大管工段</span>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="view-isLock">是否锁定：</label>
                                            <span id="view-isLock"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--add panel-->
                            <div id="add-panel"  class="panel panel-success" style="display: none; margin-top: 10px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title" id="add-title">添加信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="add-name">名称：</label>
                                            <input id="add-name"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="add-level">级别：</label>
                                            <input id="add-level"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="add-upDepartment">上级：</label>
                                            <input id="add-upDepartment"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="add-description">描述：</label>
                                            <input id="add-description"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button id="btn-add-save" type="button" class="btn btn-primary">保存</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button id="btn-add-cancel" type="button" class="btn btn-warning">取消</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--edit panel-->
                            <div id="edit-panel"  class="panel panel-warning" style="display: none; margin-top: 10px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title" id="edit-title">修改信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="edit-id">id(只读)：</label>
                                            <input id="edit-id" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="edit-name">名称：</label>
                                            <input id="edit-name"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="edit-level">级别：</label>
                                            <input id="edit-level"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="edit-upDepartment">上级：</label>
                                            <input id="edit-upDepartment"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="edit-description">描述：</label>
                                            <input id="edit-description"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="edit-worker">当前绑定工人：</label>
                                            <span id="edit-worker">一部大管工段</span>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="edit-isLock">是否锁定：</label>
                                            <input id="edit-isLock"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button  id="btn-edit-save" type="button" class="btn btn-primary">保存</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button  id="btn-edit-cancel" type="button" class="btn btn-warning">取消</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <footer th:include="template/footer_template :: my_footer">
                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
        <!-- /. WRAPPER  -->
        <!-- JS Scripts-->
    </div>
</div>
<!-- jQuery Js -->
<script src="../static/assets/js/jquery-1.10.2.js"
        th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<script>
    var $110 = $;
    //    $110(".dropdown-button").dropdown();
</script>
<!-- Bootstrap Js -->
<script src="../static/assets/js/bootstrap.min.js"
        th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/materialize/js/materialize.min.js"
        th:src="@{/assets/materialize/js/materialize.min.js}"></script>
<!-- Metis Menu Js -->
<script src="../static/assets/js/jquery.metisMenu.js"
        th:src="@{/assets/js/jquery.metisMenu.js}"></script>


<script src="../static/assets/plugins/ztree/jquery-1.4.4.min.js"
        th:src="@{/assets/plugins/ztree/jquery-1.4.4.min.js}"></script>
<script src="../static/assets/plugins/ztree/jquery.ztree.core.min.js"
        th:src="@{/assets/plugins/ztree/jquery.ztree.core.min.js}"></script>

<script src="../static/assets/js/util-cookie.js"
        th:src="@{/assets/js/util-cookie.js}"></script>

<script>
    var $144 = $;
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var treeList = /*[[${treeList}]]*/ 2;
    /*]]>*/
</script>

<script type="text/javascript">

</script>

<script src="../static/custom/js/manage_department.js"
        th:src="@{/custom/js/manage_department.js}"></script>
</body>

</html>
